*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/src/main/java/sparespark/covid/statistics/core/Constants.kt
/app/src/main/java/sparespark/covid/statistics/core/Secret.kt
/app/src/main/java/sparespark/covid/statistics/presentation/totalreport/components/TearDropShape.kt
/app/src/main/res
